<section class="favorites">
  <div class="container">
    <div class="kontent">
      <h2 class="favorites-title">Some of Our Favorites</h2>
      <p class="favorites-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <ul class="favorites-list">
      <li class="favorites-list-item">
        <div class="favorites-list-item-border">
          <div class="favorites-list-item-img">
            <picture>
              <source
                srcset="
                  ./img/favorites/gamburger-desk-1x-min.png 1x,
                  ./img/favorites/gamburger-desk-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/favorites/gamburger-tab-1x-min.png 1x,
                  ./img/favorites/gamburger-tab-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/favorites/gamburger-mob-1x-min.png 1x,
                  ./img/favorites/gamburger-mob-2x-min.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/favorites/gamburger-desk-1x-min.png"
                alt="gamburger"
                class="favorites-img"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="favorites-list-item">
        <div class="favorites-list-item-border">
          <div class="favorites-list-item-img">
            <picture>
              <source
                srcset="
                  ./img/favorites/pasta-desk-1x-min.png 1x,
                  ./img/favorites/pasta-desk-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/favorites/pasta-tab-1x-min.png 1x,
                  ./img/favorites/pasta-tab-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/favorites/pasta-mob-1x-min.png 1x,
                  ./img/favorites/pasta-mob-2x-min.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/favorites/pasta-desk-1x-min.png"
                alt="pasta"
                class="favorites-img"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="favorites-list-item">
        <div class="favorites-list-item-border">
          <div class="favorites-list-item-img">
            <picture>
              <source
                srcset="
                  ./img/favorites/pizza-desk-1x-min.png 1x,
                  ./img/favorites/pizza-desk-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/favorites/pizza-tab-1x-min.png 1x,
                  ./img/favorites/pizza-tab-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/favorites/pizza-mob-1x-min.png 1x,
                  ./img/favorites/pizza-mob-2x-min.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img//favorites/pizza-desk-1x-min.png"
                alt="pizza"
                class="favorites-img"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="favorites-list-item">
        <div class="favorites-list-item-border">
          <div class="favorites-list-item-img">
            <picture>
              <source
                srcset="
                  ./img/favorites/chicken-desk-1x-min.png 1x,
                  ./img/favorites/chicken-desk-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/favorites/chicken-tab-1x-min.png 1x,
                  ./img/favorites/chicken-tab-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/favorites/chicken-desk-1x-min.png"
                alt="chicken"
                class="favorites-img"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="favorites-list-item">
        <div class="favorites-list-item-border">
          <div class="favorites-list-item-img">
            <picture>
              <source
                srcset="
                  ./img/favorites/salat-desk-1x-min.png 1x,
                  ./img/favorites/salat-desk-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/favorites/salat-tab-1x-min.png 1x,
                  ./img/favorites/salat-tab-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/favorites/salat-desk-1x-min.png"
                alt="salat"
                class="favorites-img"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="favorites-list-item">
        <div class="favorites-list-item-border">
          <div class="favorites-list-item-img">
            <picture>
              <source
                srcset="
                  ./img/favorites/borshch-desk-1x-min.png 1x,
                  ./img/favorites/borshch-desk-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/favorites/borshch-tab-1x-min.png 1x,
                  ./img/favorites/borshch-tab-2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/favorites/borshch-desk-1x-min.png"
                alt="borshch"
                class="favorites-img"
              />
            </picture>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
