<section class="footer container">
  <div class="nav-menu-form-united">
    <div class="footer-nav-menu">
      <a class="footer-logo" href="./index.html"
        ><img
          src="/img/footer/logo-footer.png"
          alt="logo"
          width="69"
          height="51"
      /></a>
      <nav class="footer-menu">
        <ul class="footer-menu-list">
          <li class="nav-menu-link">
            <a class="nav-menu-item" href="">Home</a>
          </li>
          <li class="nav-menu-link">
            <a class="nav-menu-item" href="">About</a>
          </li>
          <li class="nav-menu-link">
            <a class="nav-menu-item" href="">Service</a>
          </li>
          <li class="nav-menu-link">
            <a class="nav-menu-item" href="">Menu</a>
          </li>
          <li class="nav-menu-link">
            <a class="nav-menu-item" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-form">
      <p class="footer-form-text">Subscribe</p>
      <form>
        <input
          type="email"
          class="footer-form-input"
          placeholder="Enter your email"
          name="user-email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
          title="Not a valid email address (example@email.com)"
          required
        />
        <button type="submit" class="footer-subscribe-btn">Subscribe</button>
      </form>
      <p class="privacy-policy-text">
        By subscribing you agree to our
        <span class="span-privacy"><a href="">Privacy Policy</a> </span>
      </p>
    </div>
  </div>
  <div class="footer-united">
    <div class="footer-terms">
      <a class="footer-terms-link" href="">Privacy Policy</a>
      <a class="footer-terms-link" href="">Terms of Service</a>
      <a class="footer-terms-link" href="">Cookies Settings</a>
    </div>
    <p class="all-rights">2022 FoodSta. All right reserved.</p>
  </div>
</section>
